* {
    font-family: "DM Sans", sans-serif;
}

body {
    /* background-color: #51370a; */
}

.bg-custom {
    background-color: #1959b8;
}

.heroes img {
    width: 500px;
    height: 400px;
    object-fit: cover;
    border-radius: 20px;
}
