/* * {
    font-family: "Inter", sans-serif;
} */

h1 {
    font-family: "Playfair Display", sans-serif;
    color: #4c3216;
}

body {
    font-family: "Inter", sans-serif;
    background-color: #f4f1e8;
}

.bg-custom {
    background-color: #1959b8;
}

.btn-custom {
    background-color: #985d1c;
    color: #fff;
    border: 1px solid #985d1c;
}

.btn-custom:hover {
    background: none;
    border: 1px solid #985d1c;
}

.heroes img {
    width: 450px;
    height: 400px;
    object-fit: cover;
    border-radius: 20px;
}

.heroes h1 {
    font-size: 70px;
}

.carousel-inner {
    border-radius: 20px;
    background-color: #4c321631;
}

.carousel h1 {
    color: #fff;
}

.carousel img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}
